.container {
    min-height: 60px;
    min-width: 450px;
    position: fixed;
    z-index: 1000;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    padding: 0.625rem 1rem;
    border-radius: 0.75rem;
    border: transparent;
    background-color: hsl(200, 100%, 65%);
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

.btn {
    position: absolute;
    right: 2px;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: hsl(200, 100%, 60%);
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 1rem;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 1rem;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}